<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建 friendDao Bean 对象为后续 friendService 做准备-->
    <bean id="friendDao" class="xyz.ccola.dao.impl.FriendDaoImpl"/>
    <!--创建 friendService Bean 对象，
    并通过字段注入的方式为其属性注入值-->
    <bean id="friendService" class="xyz.ccola.service.impl.FriendServiceImpl">
        <property name="friendDao" ref="friendDao"/>
    </bean>

    <!--创建 friendController Bean 对象,
    并通过 ByType 的方式为其属性赋值-->
    <bean id="friendController" class="xyz.ccola.controller.FriendController" autowire="byType"/>
</beans>